%h2
  Comentarios

%ul.tabs
  %li{:class => (params[:pending].blank? && params[:deleted].blank?) ? 'active' : nil}
    = link_to "Todos", admin_comments_path
  %li{:class => params[:pending].present? ? 'active' : nil}
    = link_to "Pendientes", admin_comments_path(:pending => true)
  %li{:class => params[:deleted].present? ? 'active' : nil}
    = link_to "Borrados", admin_comments_path(:deleted => true)

.admin
  = render @comments
  
= paginate @comments