- page_title("Comentarios")

%h2.fancy-title= html_page_title

%ul.tabs
  %li.active
    = link_to "Todos", admin_comments_path
  %li
    = link_to "Pendientes", admin_comments_path(:pending => true)


- @comments.each do |comment|
  = comment.content
  %hr




= paginate @comments
