<div class="audio">
    <% cache [:links, audio], expires_in: 7.days do %>
    <%= render 'audios/player', url: audio.url, id: audio.id %>
    <div class="downloads well">
        Descargar MP3:
        <span class="direct">
            <%= link_to "Descarga Directa", audio.url, rel: 'nofollow' %>
        </span>
        <span class="torrent">
            <%= link_to ".torrent", audio.torrent_url, rel: 'nofollow' %>
            <small>
                <%= link_to "¿Qué es esto?", article_path('torrent') %>
            </small>
        </span>
        <span class="popup">
            <%= link_to "Abrir Player", post_audio_path(audio.post, audio), class: 'open_player',
                data: { post_id: audio.post.friendly_id, audio_id: audio.id } %>
        </span>
    </div>
    <% end %>
</div>