<% cache [:links, audio, audio.speech_to_text_status, audio.sp_url], :expires_in => 7.days do %>
  <nav class="panel">
    <%= render 'audios/player', url: audio.url, id: audio.id %>
    <p class="panel-tabs">
      <%= link_to audio.url, class: 'icon-link', rel: 'nofollow', title: "Descargar MP3" do %>
        <%= icon "download", class: "small-icon" %> mp3
      <% end %>
      <%= link_to post_audio_url(audio.post, audio),
            class: "icon-link",
            title: "Abrir player en popup",
            data: {
              controller: "popup",
              action: "click->popup#open"
            } do %>
        <%= icon "external-link", class: "small-icon" %> player
      <% end %>
      <% if audio.texts.count > 0 %>
        <%= link_to post_path(audio.post, anchor: 'transcription', transcription: true), class: 'icon-link', title: "Ver transcripciones" do %>
          <%= icon "message-square-text", class: "small-icon" %> transcripción
        <% end %>
      <% end %>
    </p>
    <% if audio.sp_url %>
      <%= render 'audios/player', url: audio.sp_url, id: "sp_#{audio.id}" %>
      <p class="panel-tabs">Versión sin cortes</p>
    <% end %>
  </nav>
<% end %>
