<% cache [:links, audio], :expires_in => 7.days do %>
  <nav class="panel">
    <%= render 'audios/player', url: audio.url, id: audio.id %>
    <p class="panel-tabs">
      <%= link_to audio.url, rel: 'nofollow', title: "Descargar MP3" do %>
        <i class="fas icon-download"></i> mp3
      <% end %>
      <%= link_to audio.torrent_url, rel: 'nofollow', title: "Descargar .torrent" do %>
        <i class="fas icon-magnet"></i> torrent
      <% end %>
      <%= link_to post_audio_url(audio.post, audio), class: 'open_player', title: "Abrir player en popup" do %>
        <i class="fas icon-link-ext"></i> player
      <% end %>
      <% if audio.texts.count > 0 %>
        <%= link_to post_path(audio.post, anchor: 'transcription', transcription: true), title: "Ver transcripciones" do %>
          <i class="fas icon-doc-text"></i> Transcripción
        <% end %>
      <% end %>
    </p>
  </nav>
<% end %>
