<% cache [:links, audio], :expires_in => 7.days do %>
  <div class="audio">
    <%= render 'audios/player', url: audio.url, id: audio.id %>
    <nav class="level downloads">
      <p class="level-item has-text-centered">
        <%= link_to "Descargar MP3", audio.url, rel: 'nofollow' %>
      </p>
      <p class="level-item has-text-centered is-hidden-mobile">
        <%= link_to "Torrent", audio.torrent_url, rel: 'nofollow' %>
        <small><em>
            <%= link_to "¿Qué es esto?", article_path('torrent') %>
          </em></small>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "Abrir Player", post_audio_url(audio.post, audio), class: 'open_player' %>
      </p>
    </nav>
  </div>
<% end %>
