- page_title('Reenviá las Instrucciones de Confirmación')

.fancy
  ¿Problemas para iniciar sesión?

%h1.title= html_page_title

%p
  Si no recibiste tu email de confirmación de cuenta, podés reenviarlo
  completando el siguiente formulario. Por las dudas, verificá que no la hayas
  recibido como <em>correo no deseado</em> o <em>spam</em> en tu cuenta de
  e-mail.

= devise_error_messages!

= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  %legend
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email
      %span.help-block La dirección con la que creaste tu cuenta.
  .form-actions
    = f.submit "Reenviar", :class => 'btn primary'
= render "devise/shared/links"
