%li= link_to "El Proyecto", "/articles/el-proyecto"
%li= link_to "Colaborá", "/articles/colabora"
%li= link_to "Créditos", "/articles/créditos"
%li
  = link_to "Torrents", torrents_url
  = link_to "(RSS)", torrents_url(:format => :rss)
