<h2 class="title fancy is-4">Preferencias</h2>
<h3 class="title is-4">Mi cuenta</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando la confirmación de: <strong><%= resource.unconfirmed_email %></strong></div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
    <i>(dejarla en blanco si no la querés cambiar)</i>
    <% if @minimum_password_length %>
      <em>/ <%= @minimum_password_length %> caracteres como mínimo</em>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
    <em>Repetí la contraseña de arriba.</em>
  </div>
  <div class="field">
    <%= f.label :current_password, class: "label" %>
    <div class="control">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
    </div>
    <i>(necesitamos tu contraseña para validar los cambios)</i>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Guardar Cambios</button>
    </div>
  </div>
<% end %>
<hr />
<h3 class="title is-5">Eliminar mi cuenta</h3>
<div class="content">Esto no puede deshacerse, por favor pensalo bien antes de hacer click, ya que no habrá forma de recuperar tus datos.</div>
<div class="field is-grouped">
  <div class="control">
    <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { turbo_method: :delete, turbo_confirm: "¿Estás completamente seguro?" }, class: "button is-danger" %>
  </div>
  <div class="control">
    <%= link_to "Cancelar", :back, class: "button" %>
  </div>
</div>
