- page_title('Registrate en Venganzas del Pasado')

.fancy
  Participá en la comunidad

%h2.title= html_page_title

%p
  Si tenés una cuenta en #{link_to "Facebook", 'https://www.facebook.com/'} podés registrarte fácilmente haciendo click en el siguiente botón:

%p.facebook-login-container
  = link_to image_tag('fb-login.png', style: "height: 24px", title: "Iniciar sesión con Facebook"), user_omniauth_path(:facebook), method: :post

%p
  Si no tenés una cuenta en Facebook o simplemente preferís no utilizarla para registrarte, te invitamos a crear una nueva cuenta mediante el siguiente formulario.

= devise_error_messages!

= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :email, class: 'form-control'
      %span.help-block Esta dirección de mail es privada, no será publicada.
  .form-group
    = f.label :alias, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :alias, class: 'form-control'
      %span.help-block El nombre que los demás usuarios verán.
  - unless resource.has_facebook_profile?
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-4
        = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, class: 'col-sm-2 control-label'
      .col-sm-4
        = f.password_field :password_confirmation, class: 'form-control'
        %span.help-block Repetí la contraseña de arriba.
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Crear Cuenta", :class => 'btn btn-primary'

= render "devise/shared/links"
