<h2 class="title fancy is-4">Participá en la comunidad</h2>
<h3 class="title is-4">Registrate en Venganzas del Pasado</h3>

<p>
  Te invitamos a crear una nueva cuenta mediante el siguiente formulario:
</p>
<br />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
    <em>Esta dirección de mail es privada, no será publicada.</em>
  </div>
  <div class="field">
    <%= f.label :alias, class: "label" %>
    <div class="control">
      <%= f.text_field :alias, class: "input" %>
    </div>
    <em>El nombre que los demás usuarios verán.</em>
  </div>
  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    </div>
    <em>Mínimo <%= @minimum_password_length %> caracteres.</em>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: "input" %>
    </div>
    <em>Repetí la contraseña de arriba.</em>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= recaptcha_tags %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Crear Cuenta</button>
    </div>
  </div>
<% end %>
<%= render "devise/shared/links" %>
