- page_title('Registrate en Venganzas del Pasado')

.ribbon
  Participá en la comunidad

%h2.title= html_page_title

%p
  Si tenés una cuenta en #{link_to "Facebook", 'http://facebook.com'} podés registrarte fácilmente haciendo click en el siguiente botón:

%p.facebook-login-container
  = link_to 'Login con Facebook', user_omniauth_path(:facebook), :class => 'facebook-login-button'

%p
  Si no tenés una cuenta en Facebook o simplemente preferís no utilizarla para registrarte, te invitamos a crear una nueva cuenta mediante el siguiente formulario.

= devise_error_messages!

%div
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %fieldset
      .inputs
        .clearfix
          = f.label :email
          .input
            = f.text_field :email
            %span.help-block Esta dirección de mail es privada, no será publicada.
        .clearfix
          = f.label :alias
          .input
            = f.text_field :alias
            %span.help-block El nombre que los demás usuarios verán.
        - unless resource.has_facebook_profile?
          .clearfix
            = f.label :password
            .input
              = f.password_field :password
          .clearfix
            = f.label :password_confirmation
            .input
              = f.password_field :password_confirmation
              %span.help-block Repetí la contraseña de arriba.
      .actions
        = f.submit "Crear Cuenta", :class => 'btn primary'
  = render "devise/shared/links"
