<article class="media">
  <figure class="media-left">
    <p class="image is-48x48 avatar">
      <%= image_tag comment.profile_picture_url, alt: comment.author, class: "avatar" %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to_unless comment.user.nil?, comment.author, comment.user %></strong> <small><%= timeago(comment.created_at) %></small>
        en <%= link_to comment.post_title, comment.post %> dijo:
        <%= markdown_format(comment.content) %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <% if comment.deleted? %>
          <span class="level-item tag is-danger">
            <%= comment.status.capitalize %>
          </span>
          <% if can? :approve, comment %>
            <%= link_to approve_admin_comment_path(comment), class: "level-item" do %>
              <i class="fas icon-ok"></i> Aprobar
            <% end %>
          <% end %>
          <% if can? :destroy, comment %>
            <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "level-item has-text-danger" do %>
              <i class="fas icon-trash-empty"></i> <strong>Eliminar def.</strong>
            <% end %>
          <% end %>
        <% else %>
          <% if can?(:approve, comment) or  can? :trash, comment %>
            <span class="level-item tag is-warning">
              <%= comment.status.capitalize %>
            </span>
          <% end %>
          <% if (comment.pending? or comment.flagged?) and can?(:approve, comment) %>
            <%= link_to approve_admin_comment_path(comment), class: "level-item" do %>
              <i class="fas icon-ok"></i> Aprobar
            <% end %>
          <% end %>
          <% if can? :trash, comment %>
            <%= link_to trash_admin_comment_path(comment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "level-item" do %>
              <i class="fas icon-trash-empty"></i> Eliminar
            <% end %>
          <% end %>
        <% end %>
        <%= link_to post_comment_path(comment.post, comment), class: "level-item" do %>
          <i class="fas icon-bookmark-empty"></i> <small>Enlace al comentario</small>
        <% end %>
        <% if comment.neutral? && can?(:flag, comment) %>
          <%= link_to flag_comment_path(comment), data: { confirm: '¿Estás seguro?' }, method: :post, remote: :true, class: "level-item", id: "flag_#{comment.id}" do %>
            <i class="fas icon-flag-empty"></i> Denunciar
          <% end %>
        <% end %>
      </div>
    </nav>
  </div>
</article>
