%a{ :name => "comment-#{comment.id}" }
%article.row.comment{ :id => "comment-#{comment.id}", :class => "#{comment.status}"}

  .col-md-1.avatar

    %img.img-rounded{ :src => comment.profile_picture_url, :alt => comment.author }

  .col-md-8.description
    - cache comment, :expires_in => 7.days do
      .author
        %span.who= link_to_unless comment.user.nil?, comment.author, comment.user
        %span.when
          = timeago(comment.created_at)
        %span.where
          en
          = link_to comment.post_title, comment.post
        %span.what
          dijo:
          
      .content
        = replace_smileys(markdown_format(comment.content))
        
    .actions
    
      - if comment.deleted?
        %span.label{ :class => "status-#{comment.status}" }
          #{comment.status.capitalize}
        
        - if can? :approve, comment
          %span.btn.btn-mini.btn-link.approve
            %span.glyphicon.glyphicon-ok
            =link_to "Aprobar", approve_admin_comment_path(comment)
        - if can? :destroy, comment
          %span.btn.btn-mini.btn-link.delete
            %span.glyphicon.glyphicon-fire
            =link_to "Eliminar definitivamente", admin_comment_path(comment), :method => :delete, :data => { :confirm => '¿Estás seguro?' }
      
      - else

        - if can?(:approve, comment) or  can? :trash, comment
          %span.label{ :class => "status-#{comment.status}" }
            #{comment.status.capitalize}

        - if (comment.pending? or comment.flagged?) and can?(:approve, comment)
          %span.btn.btn-mini.btn-link.approve
            %span.glyphicon.glyphicon-ok
            =link_to "Aprobar", approve_admin_comment_path(comment)
        
        - if can? :trash, comment
          %span.btn.btn-mini.btn-link.delete
            %span.glyphicon.glyphicon-trash
            =link_to "Eliminar", trash_admin_comment_path(comment), :data => { :confirm => '¿Estás seguro?' }
     
    %footer
      - if can? :read, comment
        %span.btn.btn-mini.btn-link.permalink
          %span.glyphicon.glyphicon-bookmark
          = link_to "Enlace al Comentario", post_comment_path(comment.post, comment)
  
      
        %span.opinions.pull-right
          .btn-group
            - if user_signed_in?
              = link_to like_comment_path(comment), :method => :post, :remote => :true, :title => "¡Me gusta! :-)", :class => 'btn btn-mini' do
                %span.glyphicon.glyphicon-thumbs-up
                %span.count{ :id => "like_#{comment.id}"} #{comment.like_count}
            %button.btn-opinions-popover.btn.btn-mini{ 'data-popover-url' => opinions_comment_path(comment), 'data-title' => 'Opiniones'}
              %span.glyphicon.glyphicon-eye-open
              - if not user_signed_in?
                = t('views.opinion', :count =>  comment.opinion_count)
            - if user_signed_in?
              = link_to dislike_comment_path(comment), :method => :post, :remote => :true, :title => "¡No me gusta! :-(", :class => 'btn btn-mini' do
                %span.glyphicon.glyphicon-thumbs-down
                %span.count{ :id => "dislike_#{comment.id}"} #{comment.dislike_count}
        
      - if comment.neutral? && can?(:flag, comment)
        %span.btn.btn-mini.btn-link.flag.pull-right{:id => "flag_#{comment.id}"}
          %span.glyphicon.glyphicon-flag
          = link_to "Denunciar", flag_comment_path(comment), :data => { :confirm => '¿Estás seguro?' }, :method => :post, :remote => :true