<article class="media">
  <figure class="media-left">
    <p class="image is-48x48 avatar">
      <%= image_tag comment.profile_picture_url, alt: comment.author, class: "avatar" %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <div class="comment-head">
        <strong><%= link_to_unless comment.user.nil?, comment.author, comment.user %></strong> <small><%= timeago(comment.created_at) %></small>
        en <%= link_to comment.post_title, comment.post %> dijo:
      </div>
      <%= markdown_format(comment.content) %>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <% if comment.deleted? %>
          <span class="level-item tag is-danger">
            <%= comment.status_capitalize %>
          </span>
          <% if can? :approve, comment %>
            <%= link_to approve_admin_comment_path(comment), class: "level-item" do %>
              <%= icon "check", class: "small-icon is-light" %> Aprobar
            <% end %>
          <% end %>
          <% if can? :destroy, comment %>
            <%= link_to admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "level-item has-text-danger" do %>
              <%= icon "shredder", class: "small-icon" %> <strong>Eliminar def.</strong>
            <% end %>
          <% end %>
        <% else %>
          <% if can?(:approve, comment) or  can? :trash, comment %>
            <span class="level-item tag is-warning">
              <%= comment.status_capitalize %>
            </span>
          <% end %>
          <% if (comment.pending? or comment.flagged?) and can?(:approve, comment) %>
            <%= link_to approve_admin_comment_path(comment), class: "level-item" do %>
              <%= icon "check", class: "small-icon" %> Aprobar
            <% end %>
          <% end %>
          <% if can? :trash, comment %>
            <%= link_to trash_admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "level-item" do %>
              <%= icon "trash-2", class: "small-icon" %> Eliminar
            <% end %>
          <% end %>
        <% end %>
        <%= link_to post_comment_path(comment.post, comment), class: "level-item" do %>
          <%= icon "bookmark", class: "small-icon" %> <small>Enlace al comentario</small>
        <% end %>
        <% if comment.neutral? && can?(:flag, comment) %>
          <%= link_to flag_comment_path(comment), data: { turbo_method: :post, turbo_confirm: "¿Estás seguro?" }, class: "level-item", id: "flag_#{comment.id}" do %>
            <%= icon "flag", class: "small-icon" %> Denunciar
          <% end %>
        <% end %>
      </div>
    </nav>
  </div>
</article>
