<article id="comment-form" class="media">
  <figure class="media-left">
    <p class="image is-48x48 avatar">
      <% if can? :create, Comment %>
        <%= image_tag current_user.profile_picture_url, alt: current_user.alias, class: "avatar" %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content comment-container">
      <%= form_for [post, comment], remote: true do |f| %>
        <%= content_tag :fieldset, disabled: !can?(:create, Comment) do %>
          <% unless can? :create, Comment %>
            <div class="cannot-comment has-text-centered">Tenés que <%= link_to "Iniciar sesión", new_user_session_path %> para comentar.</div>
          <% end %>
          <div class="field">
            <div class="control">
              <%= f.label "Tu comentario:", class: 'label' %>
              <%= f.text_area :content, rows: 6, placeholder: "Escribi un comentario", class: "textarea" %>
            </div>
            <em>Podés darle estilo y formato al texto utilizando
              <%= link_to "Markdown", article_path('markdown'), target: '_blank' %>
            </em>
          </div>
          <div class="field">
            <div class="control">
              <%= f.submit 'Comentar', class: 'button is-link' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</article>
