- page_title("Editando el Comentario ##{@comment.id} de #{link_to @post.title, @post}")

%h2.fancy-title!= html_page_title

.row
  .span10
    = form_for [@post, @comment] do |f|
      %p
        = f.text_area :content, :class => 'xlarge', :rows => 10
      %p
        = f.submit 'Guardar', :class => 'btn primary'
        = link_to 'Cancelar', :back, :class => 'btn'

%p
  = link_to "Ver comentario original", [@post, @comment]
