- content_for :head do
  - if params[:page].nil?
    %title Comentarios de #{@post.title} - Venganzas del Pasado
  - else
    %title Comentarios de #{@post.title} - Página #{params[:page]} - Venganzas del Pasado

%h2.fancy-title
  Comentarios de #{@post.title}
  - unless params[:page].nil?
    %small
      pág. #{params[:page]}

.comments
  = render @comments

= paginate @comments, :window => 2
