- the_title = "Comentario ##{@comment.id} de #{@post.title}"
- page_title the_title
- meta_description the_title

.fancy!= link_to @post.title, @post
%h1.title!= "Comentario ##{@comment.id}"

.post-show
  =render @comment

= render 'layouts/banners/b468x60'
