- page_title("Resultados de búsqueda")

%h2.ribbon!= html_page_title

%ul.nav.nav-tabs
  %li{:class => @what == 'posts' ? 'active' : nil}
    = link_to "Posts (#{@facets[:class]["Post"]})", search_path(params.merge(what: 'posts', page: nil))
  %li{:class => @what == 'comments' ? 'active' : nil}
    = link_to "Comentarios (#{@facets[:class]["Comment"]})", search_path(params.merge(what: 'comments', page: nil))

.results
  = render @results

= paginate @results, :window => 2
