<% page_title("Resultados de búsqueda") %>
<h2 class="title fancy is-4"><%= html_page_title%></h2>

<div class="tabs is-boxed">
  <ul>
    <li>
      <%= link_to search_path(q: params[:q], what: 'posts', page: nil) do %>
        Posts
      <% end %>
    </li>
    <li>
      <%= link_to search_path(q: params[:q], what: 'comments', page: nil) do %>
        Comentarios
      <% end %>
    </li>
    <li class="is-active">
      <%= link_to search_path(q: params[:q], what: 'texts', page: nil) do %>
        Búsqueda experimental de texto
      <% end %>
    </li>
  </ul>
</div>
<div class="search-results">
  <% @results.with_highlights.each do |text, highlights| %>
    <%= render Post.from_text_search(text, highlights[:text]) %>
  <% end %>
</div>
<%= paginate @results, window: 2 %>
