= alert_message_for(article)

= form_for [:admin, article] do |f|
  .form-group
    = f.text_field :title, :placeholder => 'Título', class: 'form-control'
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control', rows: 20, id: 'markdownify'
    %span.help-block Podés darle estilo y formato al texto utilizando #{link_to "Markdown", article_path('markdown'), :target => '_blank' }.

  .form-group
    = f.submit ( article.new_record? ? 'Publicar' : 'Guardar' ), :class => 'btn btn-primary'
    = link_to 'Cancelar', admin_articles_path, :class => 'btn btn-default'
