= alert_message_for(article)

= form_for [:admin, article], :html => { :class => 'form-stacked' } do |f|
  %legend


  .control-group
    .controls
      = f.text_field :title, :placeholder => 'Título'
  .control-group
    = f.label :content, :class => 'control-label'
    .controls
      = f.text_area :content
      %span.help-block Podés darle estilo y formato al texto utilizando #{link_to "Markdown", article_path('markdown'), :target => '_blank' }.

  .form-actions
    = f.submit ( article.new_record? ? 'Publicar' : 'Guardar' ), :class => 'btn primary'
    = link_to 'Cancelar', admin_articles_path, :class => 'btn'
