<% page_title("Listado de Artículos") %>
<h2 class="title fancy is-4">Administración de Artículos</h2>
<h3 class="title"><%= html_page_title %></h3>

<% if @articles.empty? %>
  <p>No se han encontrado articles</p>
<% else %>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <%= article.id %>
          </td>
          <td>
            <%= link_to article.title, article %>
          </td>
          <td class="actions">
            <%= link_to "Editar", edit_admin_article_path(article), class: "tag is-small is-success" %>
            <% if can? :destroy, Article %>
              <%= link_to "Eliminar", admin_article_path(article), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "tag is-small is-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @articles %>
<% end %>
