<p>
  Hay un nuevo comentario para moderar:
</p>
<p>
  <%= link_to @comment.author, user_url(@comment.user) %>
  en <%= link_to @comment.post_title, post_url(@comment.post) %> dijo:
</p>  
<p>
  <%= @comment.content %>
</p>
<p>
  <%= link_to "Aprobar", approve_admin_comment_url(@comment) %> /
  <%= link_to "Eliminar", trash_admin_comment_url(@comment) %>
