- page_title('Reenviá las Instrucciones de Desbloqueo')

.fancy
  ¿Problemas para iniciar sesión?

%h2.title= html_page_title

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    %br/
    = f.text_field :email


  %p= f.submit "Reenviar instrucciones"

= render "devise/shared/links"
