<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag user.profile_picture_url, alt: user.alias %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <h3><%= link_to user.alias, user %> <em><%= user.role %></em></h3>
      En Venganzas del Pasado desde <%= timeago(user.created_at) %>
    </div>
    <p>
      <% if can? :edit, user %>
        <%= link_to "Editar", edit_admin_user_path(user), class: 'tag is-small is-success' %>
      <% end %>
    </p>
  </div>
</article>