.row.user
  .span1.avatar
    %img.img-rounded{ :src => user.profile_picture_url, :alt => user.alias }
  .span7.info
    %h3.title
      = link_to user.alias, user
      %small= user.role
    %p En Venganzas del Pasado desde #{timeago(user.created_at)}
    - if user.has_facebook_profile?
      = link_to user.facebook_profile_url, :target => '_blank', :rel => 'nofollow', :class => 'btn btn-link' do
        %i.glyphicon-facebook
        Perfil en Facebook
    - if can? :edit, user
      = link_to edit_admin_user_path(user), :class => 'btn btn-link' do
        %i.icon-edit
        Editar
