- if params[:page].nil?
  - page_title("Perfil de #{@user.alias}")
- else
  - page_title("Perfil de #{@user.alias} - Página #{params[:page]} de comentarios")

.ribbon
  Perfil del Usuario

= render @user

%h3 Comentarios Recientes
.comments
  = render @comments

%p= paginate @comments
