- if params[:page].nil?
  - the_title = "Perfil de #{@user.alias}"
- else
  - the_title = "Perfil de #{@user.alias} - Página #{params[:page]} de comentarios"
- page_title the_title
- meta_description the_title + " en Venganzas del Pasado"

.fancy
  Perfil del Usuario

= render @user

%h3 Comentarios Recientes
.comments
  = render @comments

%p= paginate @comments
