- if params[:page].nil?
  - the_title = "Perfil de #{@user.alias}"
- else
  - the_title = "Perfil de #{@user.alias} - Página #{params[:page]} de comentarios"
- page_title the_title
- meta_description the_title + " en Venganzas del Pasado"

.fancy
  Perfil del Usuario

= render @user

%ul.nav.nav-tabs
  %li{:class => (controller.action_name == 'comments') || (controller.action_name == 'show') ? 'active' : nil }
    = link_to "Comentarios", comments_user_path(@user)
  %li{:class => controller.action_name == 'contributions' ? 'active' : nil }
    = link_to "Contribuciones", contributions_user_path(@user)
  %li{:class => controller.action_name == 'likes' ? 'active' : nil }
    = link_to "Me Gusta", likes_user_path(@user)
  %li{:class => controller.action_name == 'dislikes' ? 'active' : nil }
    = link_to "No me Gusta", dislikes_user_path(@user)

= render @objects

%p
  - if controller.action_name == 'show'
    = paginate @objects, :params => {:controller => :users, :action => :comments}
  - else
    = paginate @objects
