%div.well.span8
  %h2 Cambiar clave
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %fieldset
      .inputs
        .clearfix
          = f.label :password
          = f.password_field :password
        .clearfix
          = f.label :password_confirmation
          = f.password_field :password_confirmation
      .actions
        = f.submit "Cambiar contraseña", :class => 'btn primary'
  = render "devise/shared/links"
