- page_title('Cambiá tu Contraseña')

.ribbon
  ¿Problemas para iniciar sesión?

%h2.title= html_page_title

= devise_error_messages!

%div
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.hidden_field :reset_password_token
    %fieldset
      .inputs
        .clearfix
          = f.label :password
          .input
            = f.password_field :password
            %span.help-block Nueva contraseña.
        .clearfix
          = f.label :password_confirmation
          .input
            = f.password_field :password_confirmation
            %span.help-block Repetí la nueva contraseña
      .actions
        = f.submit "Cambiar contraseña", :class => 'btn primary'
  = render "devise/shared/links"
