- page_title('Cambiá tu Contraseña')

.fancy
  ¿Problemas para iniciar sesión?

%h1.title= html_page_title

= devise_error_messages!


= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
  = f.hidden_field :reset_password_token
  %legend
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password
      %span.help-block Nueva contraseña.
  .control-group
    = f.label :password_confirmation, :class => 'control-label'
    .input
      = f.password_field :password_confirmation
      %span.help-block Repetí la nueva contraseña
  
  .form-actions
    = f.submit "Cambiar", :class => 'btn primary'

= render "devise/shared/links"
