- page_title('Recuperá tu Contraseña')

.fancy
  ¿Problemas para iniciar sesión?

%h1.title= html_page_title

%p
  Si olvidaste tu contraseña podrás resetearla mediante este formulario. Luego
  de completarlo recibirás instrucciones en tu casilla de e-mail para recuperar
  el acceso a tu cuenta.

= devise_error_messages!

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.email_field :email, class: 'form-control'
      %span.help-block La dirección con la que creaste tu cuenta.

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Recuperar", :class => 'btn btn-primary'

= render "devise/shared/links"
