.archive.monthly
  %h3.fancy Archivo de Programas
  %ul.years
    - Post.post_count_by_month.group_by(&:year).each do |year, months|
      %li.year
        - posts_in_year = months.inject(0) {|sum, hash| sum + hash.count}
        =link_to "Año #{year}", "##{year}-year-accordion", 'data-toggle' => 'collapse'
        %i #{posts_in_year}
        .collapse{:id => "#{year}-year-accordion"}
          %ul
            - months.each do |month|
              - date = Date.new month.year, month.month
              %li.month
                = link_to "#{I18n.t('date.month_names')[date.month].capitalize} de #{date.year}", posts_archive_path(year, month.month)
                %i #{month.count}
