- page_title("Listado de Posts")

.fancy Administración de Posts

%h2.title= html_page_title

%ul.nav.nav-tabs
  %li{ :class => params[:has_status].nil? ? 'active' : nil }
    = link_to "Todos", admin_posts_path
  %li{ :class => active_if_current(:has_status => 'draft' ) }
    = link_to "Borrador", admin_posts_path(:has_status => 'draft')
  %li{ :class => active_if_current(:has_status => 'pending' ) }
    = link_to "Pendientes", admin_posts_path(:has_status => 'pending')
  %li{ :class => active_if_current(:has_status => 'waiting' ) }
    = link_to "Esperando conversión", admin_posts_path(:has_status => 'waiting')


- if @posts.empty?
  %p No se han encontrado posts
-else
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Título
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td
            %span.label{ :class => "post-status-#{post.status}", :title => post.status.capitalize}= post.id
          %td= post.title
          %td.actions
            =link_to post, :target => '_blank' do
              %span.glyphicon.glyphicon-bookmark
              Permalink
            =link_to edit_admin_post_path(post) do
              %span.glyphicon.glyphicon-edit
              Editar
            - if can? :destroy, Post
              =link_to admin_post_path(post), :method => :delete, :data => { :confirm => "¿Estás seguro?" } do
                %span.glyphicon.glyphicon-fire
                Eliminar

  = paginate @posts
