- page_title("Listado de Posts")

.ribbon Administración de Posts

%h2.title= html_page_title

%ul.nav.nav-tabs
  %li{ :class => params[:has_status].nil? ? 'active' : nil }
    = link_to "Todos", admin_posts_path
  %li{ :class => active_if_current(:has_status => 'draft' ) }
    = link_to "Borrador", admin_posts_path(:has_status => 'draft')
  %li{ :class => active_if_current(:has_status => 'pending' ) }
    = link_to "Pendientes", admin_posts_path(:has_status => 'pending')
  %li{ :class => active_if_current(:has_status => 'waiting' ) }
    = link_to "Esperando conversión", admin_posts_path(:has_status => 'waiting')


- if @posts.empty?
  %p No se han encontrado posts
-else
  %table
    %thead
      %tr
        %th #
        %th Título
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.id
          %td= post.title
          %td
            =link_to "Permalink", post, :target => '_blank'
            =link_to "Editar", edit_admin_post_path(post)
            - if can? :destroy, Post
              =link_to "Eliminar", admin_post_path(post), :method => :delete, :data => { :confirm => "¿Estás seguro?" }

  = paginate @posts
