- page_title("Listado de Posts")

.ribbon Administración de Posts

= render 'pills'

%h2.title= html_page_title

- if @posts.empty?
  %p No se han encontrado posts
-else
  %table
    %thead
      %tr
        %th #
        %th Título
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.id
          %td= post.title
          %td
            =link_to "Permalink", post, :target => '_blank'
            =link_to "Editar", edit_admin_post_path(post)
            - if can? :destroy, Post
              =link_to "Eliminar", admin_post_path(post), :method => :delete, :confirm => "¿Estás seguro?"

  = paginate @posts
