%div.well.span8
  %h2 Ingresar
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      .inputs
        .clearfix
          = f.label :email
          = f.text_field :email
        .clearfix
          = f.label :password
          = f.password_field :password
        - if devise_mapping.rememberable?
          .clearfix
            = f.label :remember_me, "Recordar"
            = f.check_box :remember_me
      .actions
        = f.submit "Ingresar", :class => 'btn primary'
  = render "devise/shared/links"
