<h2 class="title fancy is-4">Iniciar Sesión</h2>

<% if params[:msg] == 'facebook' %>

  <div class="notification is-info">
    <p>
      <strong>Atención usuarios de Facebook:</strong> debido a cambios en las condiciones de Facebook,
      no es más posible iniciar sesión utilizando dicho método.
      Si alguna vez te habías registrado en <strong><em>Venganzas del Pasado</em></strong> con credenciales de Facebook,
      ingresá la misma dirección de mail que usás Facebook en el campo siguiente y vas a recibir instrucciones para generar
      la clave para este sitio:
    </p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Crear contraseña</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<p>
  Si ya tenés una cuenta en este sitio, podés ingresar mediante el siguiente formulario:
</p>
<br />
<%= render 'flash' %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          Mantener mi sesión abierta
        </label>
      </div>
    </div>
  <% end %>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Ingresar</button>
    </div>
  </div>
<% end %>
<%= render "devise/shared/links" %>
