- page_title('Iniciar Sesión')

.row
  .col-sm-offset-2.col-md-8

    %h2.title= html_page_title

    %p
      Si tenés una cuenta en #{link_to "Facebook", 'http://facebook.com'} podés iniciar sesión haciendo click en el siguiente botón:

    %p.facebook-login-container
      = link_to user_omniauth_path(:facebook) do
        %span.glyphicon.glyphicon-facebook
        Login con Facebook

    %p
      Si ya tenés una cuenta en este sitio, podés ingresar mediante el siguiente formulario.

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
      .form-group
        = f.label :email, class: 'col-sm-2 control-label'
        .col-sm-4
          = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :password, class: 'col-sm-2 control-label'
        .col-sm-4
          = f.password_field :password, class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          .col-sm-offset-2.col-sm-10
            .checkbox
              %label
                = f.check_box :remember_me
                %span Mantener mi sesión abierta
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit "Ingresar", :class => 'btn btn-primary'

    = render "devise/shared/links"
