#sidebar
  .widget
    %h3 Administración
    %ul
      %li
        = link_to "Dashboard", admin_dashboard_path

      - if can? :manage, User
        %li
          = link_to "Usuarios", admin_users_path

      - if can? :approve, Comment
        %li
          = link_to "Comentarios", admin_comments_path

      - if can? :update, Post
        %li
          = link_to "Posts", admin_posts_path
          - if can? :create, Post
            %ul
              %li= link_to "Crear Post", new_admin_post_path
      - if can? :manage, Article
        %li
          = link_to "Artículos", admin_articles_path
          %ul
            %li= link_to "Crear Artículo", new_admin_article_path
