#sidebar
  .widget
    %h3.fancy Administración
    %ul.nav.nav-list
      %li
        = link_to admin_dashboard_path do
          %span.glyphicon.glyphicon-home
          Dashboard

      - if can? :manage, User
        %li
          = link_to admin_users_path do
            %span.glyphicon.glyphicon-user
            Usuarios

      - if can? :approve, Comment
        %li
          = link_to admin_comments_path do
            %span.glyphicon.glyphicon-comment
            Comentarios

      - if can? :update, Post
        %li
          = link_to admin_posts_path do
            %span.glyphicon.glyphicon-file
            Posts
          - if can? :create, Post
            %ul.nav.nav-list
              %li
                = link_to new_admin_post_path do
                  %span.glyphicon.glyphicon-pencil
                  Crear Post
      - if can? :manage, Article
        %li
          = link_to admin_articles_path do
            %span.glyphicon.glyphicon-book
            Artículos
          %ul.nav.nav-list
            %li
              = link_to new_admin_article_path do
                %span.glyphicon.glyphicon-pencil
                Crear Artìculo
