= form_for post do |f|
  - if post.errors.any?
    .alert-message.block-message.error
      = link_to "x", "#", :class => 'close'
      %p
        %strong= pluralize(post.errors.count, "error")
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title, :class => 'xxlarge'
  %p
    = f.text_area :content, :class => 'xxlarge'
  %p
    = f.submit 'Publicar', :class => 'btn primary'
    = link_to 'Cancelar', :back, :class => 'btn'
