.clearfix
  %p
    Mediante este formulario podés cargar programas viejos de LVST.
    Para eso es importante que le pongas un título acorde, siguiendo el formato del resto de los programas y,
    <strong>muy importante:</strong> la fecha en la que debe publicarse el post de acuerdo con el programa que estás subiendo.
  %p
    Se pueden subir hasta 4 segmentos del mismo programa y los archivos tienen que ser formato MP3 y de una calidad razonable. 
    El peso total no puede superar los 30 megabytes.
  %p
    Idealmente cargá también una descipción del programa en la caja de contenido. Podés darle estilo y formato al texto utilizando #{link_to "Markdown", article_path('markdown'), :target => '_blank' }.
  %p
    Los posts subidos a través de este formulario no se publicarán inmediatamente sino que previamente serán revisados y aprobados.

.clearfix
  = form_for post do |f|
    %legend Nuevo Post

    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label :content
      = f.text_area :content, :class => 'form-control', :rows => 10
    .form-group
      = f.label :created_at, "Fecha de publicación"
      = f.date_select :created_at, {:start_year => 1985, :end_year => Time.zone.now.year}, class: 'form-control small-inline'
    .form-group
      %label Archivos de audio (sólo .mp3 y menos de 30MB en total)
      = f.fields_for :media do |media_form|
        .input
          = media_form.file_field :asset

    .form-group
      = f.submit ( 'Enviar' ), :class => 'btn btn-primary'
