<article class="box post">
  <div class="post-top-header level">
    <div class="level-left">
      <em class="level-item">
        <%= "#{post.created_at.day} de #{I18n.t('date.month_names')[post.created_at.month.to_i].capitalize} de #{post.created_at.year}" %>
      </em>
    </div>
    <div class="level-right">
      <div class="post-share level-item">
        <div class="social-likes social-likes_light"
             data-controller="social-sharing"
             data-social-sharing-title-value="<%= post.title %>"
             data-social-sharing-url-value="<%= post_url(post) %>">
          <%= image_tag "fb-share.svg",
                        class: "facebook",
                        title: "Compartir en Facebook",
                        alt: "Compartir en Facebook",
                        data: { social_sharing_target: "facebook" },
                        style: "cursor: pointer;" %>
          <%= image_tag "x-share.svg",
                        class: "twitter",
                        title: "Compartir en Twitter",
                        alt: "Compartir en Twitter",
                        data: { social_sharing_target: "twitter" },
                        style: "cursor: pointer;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="post-header">
    <% if current_page?(post) %>
      <h1 class="title"><%= link_to post.title, post %></h1>
    <% else %>
      <h3 class="title"><%= link_to post.title, post %></h3>
    <% end %>
  </div>
  <div class="post-audios">
    <%= render post.audios %>
    <%= render post.media %>
  </div>
  <% if post.content? %>
    <div class="post-content content">
      <%= markdown_format post.content, filter_html: false %>
    </div>
  <% end %>
  <% if @transcription.present? %>
    <a name="transcription"></a>
    <div class="post-transcription content">
      <h4>Transcripción automática</h4>
      <%= markdown_format @transcription, filter_html: false %>
    </div>
  <% end %>
  <nav class="level post-footer">
    <% if post.contributor %>
      <p class="level-item has-text-centered">
        Contribución de&nbsp;<%= link_to " #{post.contributor_alias}", user_url(post.contributor), title: "Ver el perfil de #{post.contributor_alias}" %>
      </p>
    <% end %>
    <% if can? :update, post %>
      <p class="level-item has-text-centered">
        <%= link_to edit_admin_post_path(post) do %>
            <%= icon "square-pen", class: "small-icon" %> Editar
          <% end %>
      </p>
      <% if post.pending? %>
        <p class="level-item has-text-centered">
          <%= link_to approve_contribution_admin_post_path(post) do %>
            <%= icon "check", class: "small-icon" %> Aprobar contribución
          <% end %>
        </p>
      <% end %>
      <% if can? :destroy, Post %>
        <p class="level-item has-text-centered">
          <%= link_to admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } do %>
            <%= icon "trash-2", class: "small-icon" %> Eliminar
          <% end %>
        </p>
      <% end %>
    <% end %>
    <p class="level-item has-text-right">
      <%= link_to post_path(post, anchor: "comments"), title: "Ver los comentarios" do %>
        <%= icon "message-circle", class: "small-icon" %>
        <%= t('num_comments', count: post.comments.visible_by(current_user).count) %>
      <% end %>
    </p>
  </nav>
</article>
