.post

  .date
    = post.created_at.strftime('%d de %B')

  %h3.post-title
    = link_to post.title, post

  .audios
    = render post.audios
      
  .content
    - if post.content?
      = markdown_format post.content
    - else
      Aún no hay información disponible sobre este programa.
      - if can? :update, post
        Colaborá con la comunidad
        = link_to "editándolo", edit_post_path(post)
      - else
        Colaborá con la comunidad,
        = link_to "postulate a editor", '#'
      
  %p.meta
    %span.comments
      Comentarios: 
      = link_to post.comments.approved.count, post_path(post, :anchor => "comments")
    %span.permalink=link_to "Permalink", post
    - if can? :update, post
      %span.edit= link_to "Editar", edit_post_path(post)
