.post

  .date
    = post.created_at.strftime('%d de %B')

  %h3.post-title
    = link_to post.title, post

  .audios
    = render post.audios
      
  .content
    - unless post.content == ''
      = markdown_format post.content
    - else
      Aún no hay información disponible sobre este programa. Colaborá con la comunidad
      = link_to "editándolo", edit_post_path(post)
      
  %p.meta
    %span.comments
      Comentarios: 
      = link_to post.comments.approved.count, post_path(post, :anchor => "comments")
    %span.permalink=link_to "Permalink", @post
    - if can? :edit, post
      %span.edit= link_to "Editar", edit_post_path(post)
    - if can? :delete, post
      %span.delete= link_to "Eliminar", post, :confirm => '¿Estás seguro?', :method => :delete

  /
    .tags
      Temas:
      <span class="label">Gatos</span>
      <span class="label">Francia</span>
      <span class="label">Médicos</span>
      <span class="label">Autos</span>
