.post

  %h3.title
    = link_to post.title, post

  %p.meta
    %span.date
      #{post.created_at.day} de #{I18n.t('date.month_names')[post.created_at.month.to_i]} de #{post.created_at.year}
    %span.comments
      Comentarios:
      = link_to post.comments.approved_or_from_user(current_user).count, post_path(post, :anchor => "comments")
    - if can? :update, post
      %span.edit= link_to "Editar", edit_admin_post_path(post)
    %span.share
      %span.twitter-share= tweet_button_for post
      %span.facebook-share= fb_like_button_for post

  .audios
    = render post.audios

  .content
    - if post.content?
      = markdown_format post.content, :filter_html => false
