<article class="box post">
  <div class="post-top-header level">
    <div class="level-left">
      <em>
        <%= "#{post.created_at.day} de #{I18n.t('date.month_names')[post.created_at.month.to_i].capitalize} de #{post.created_at.year}" %>
      </em>
    </div>
    <div class="level-right">
      <div class="post-share">
        <div class="social-likes social-likes_light" data-counters="no" data-title="<%= post.title %>" data-url="<%= post_url(post) %>">
          <div class="facebook" title="Compartir en Facebook">Facebook</div>
          <div class="twitter" data-via="venganzaspasado" title="Compartir en Twitter">Twitter</div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-header">
    <% if current_page?(post) %>
      <h1 class="title"><%= link_to post.title, post %></h1>
    <% else %>
      <h3 class="title"><%= link_to post.title, post %></h3>
    <% end %>
  </div>
  <div class="post-audios">
    <%= render post.audios %>
    <%= render post.media %>
  </div>
  <% if post.content? %>
    <div class="post-content content">
      <%= markdown_format post.content, filter_html: false %>
    </div>
  <% end %>
  <nav class="level post-footer">
    <% if post.contributor %>
      <p class="level-item has-text-centered">
        Contribución de&nbsp;<%= link_to " #{post.contributor_alias}", user_url(post.contributor), title: "Ver el perfil de #{post.contributor_alias}" %>
      </p>
    <% end %>
    <% if can? :update, post %>
      <p class="level-item has-text-centered">
        <%= link_to "Editar", edit_admin_post_path(post), class: "tag is-small is-success" %>
      </p>
      <% if post.pending? %>
        <p class="level-item has-text-centered">
          <%= link_to "Aprobar contribución", approve_contribution_admin_post_path(post), class: "tag is-warning" %>
        </p>
      <% end %>
      <% if can? :destroy, Post %>
        <p class="level-item has-text-centered">
          <%= link_to "Eliminar", admin_post_path(post), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "tag is-danger" %>
        </p>
      <% end %>
    <% end %>
    <p class="level-item has-text-right">
      <%= link_to t('num_comments', count: post.comments.visible_by(current_user).count),
                  post_path(post, anchor: "comments"), title: "Ver los comentarios" %>
    </p>
  </nav>
</article>
