- if params[:day].present?
  - title_part = "Archivo del #{params[:day]}/#{params[:month]}/#{params[:year]}"
- elsif params[:month].present?
  - title_part = "Archivo de #{I18n.t('date.month_names')[params[:month].to_i]} del #{params[:year]}"
- else
  - title_part = "Archivo del año #{params[:year]}"

- if params[:page].nil?
  - page_title(title_part)
- else
  - page_title("#{title_part} <small>Página #{params[:page]}</small>")

%section.posts
  %h1.ribbon!= html_page_title
  =render 'layouts/banners/b468x60'
  = render @posts

= paginate @posts, :window => 2
