- title = "Editando Post ##{@post.id}"

- content_for :head do
  %title #{title} - Venganzas del Pasado

%h2.fancy-title= title

= render 'form', :post => @post

%p
  = link_to "Ver post", @post
  |
  = link_to "Ir al listado", posts_path
