- title "Posts"

- @posts.each do |post|
  %h2= post.title
  - post.audios.each do |audio|
    = render 'player', :url => audio.url, :id => audio.id
  %p= markdown_format post.content
  %h5
    = link_to "Comentarios: #{post.comments_count}", post_comments_path(post)
  %hr/
%p
  = paginate @posts
