- if params[:page].nil?
  - title = "Programas de La Venganza ser치 Terrible"
- else
  - title = "Programas de La Venganza ser치 Terrible - P치gina #{params[:page]}"

- content_for :head do
  %title #{title} - Venganzas del Pasado

%h2.fancy-title
  Todos los programas
  - unless params[:page].nil?
    %small
      p치g. #{params[:page]}

.posts
  = render @posts

= paginate @posts, :window => 2
