- if params[:page].nil?
  - page_title @post.title
- else
  - page_title @post.title + " - Página #{params[:page]} de comentarios"
- meta_description @post.description

%ul.pager
  - if prev_post = @post.previous
    %li.previous
      = link_to "← Anterior", prev_post, :title => prev_post.title
  - if next_post = @post.next
    %li.next
      = link_to "Siguiente →", next_post, :title => next_post.title

=render @post

=render 'layouts/banners/b468x60'

%a{ :name => "comments" }

%section
  %h4.title Comentarios (#{@post.comments.visible_by(current_user).count})
  
  .comments
    - if @comments.count > 0
      = render @comments
    - else
      %p
        No hay comentarios. ¡Podés ser el primero en comentar!
  
    .row
      .offset1
        = paginate @comments, :window => 2
  
    - if can? :create, Comment
      %h3 Escribí un comentario
      = render 'comments/form', :post => @post, :comment => @post.comments.build
    - else
      .row
        .offset1
          Tenés que #{link_to "iniciar sesión", new_user_session_path} para comentar.
