$('#post-#{@post.id}-comments .comments-list').html('#{escape_javascript render(@comments)}');
$('#post-#{@post.id}-comments .comments-paginator').html('#{escape_javascript(paginate(@comments, :window => 2, :remote => true).to_s)}');
softScrollTo('#post-#{@post.id}-comments')