- page_title(@post.title)

.post-show
  =render @post

%a{ :name => "comments" }
%h4 Comentarios (#{@post.comments.approved.count}):

.comments
  - if @comments.count > 0
    = render @comments
  - else
    %p
      No hay comentarios. ¡Podés ser el primero en comentar!

  .row
    .offset1
      = paginate @comments, :window => 2

  - if can? :create, Comment
    %h3 Escribí un comentario
    = render 'comments/form', :post => @post, :comment => @post.comments.build
  - else
    .row
      .offset1
        Tenés que #{link_to "iniciar sesión", new_user_session_path} para comentar.
