- title @post.title

%p
  %h2= @post.title
%p
  - @post.audios.each do |audio|
    = render 'player', :url => audio.url, :id => audio.id
%p
  = markdown_format @post.content
%p
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", posts_path

%a{ :name => "comments"}
%h3 Comentarios (#{@post.comments.approved.count}):
- page = params[:page].present? ? params[:page] : @post.comments.approved.page.num_pages
- comments = @post.comments.approved.fifo.page page
- comments.each do |comment|
  .comment
    %strong
      = comment.author
    dice:
    %img{ :src => gravatar_url_for(comment), :class => 'gravatar', :alt => comment.author }
    = markdown_format comment.content

%p
  = paginate comments

