<% if params[:page].nil? %>
  <% page_title @post.title %>
<% else %>
  <% page_title @post.title + " - Página #{params[:page]} de comentarios" %>
<% end %>
<% meta_description @post.description %>
<nav class="level">
  <% if prev_post = @post.previous %>
    <div class="level-left">
      <%= link_to "← Anterior", prev_post, :title => prev_post.title, class: "button is-info is-rounded" %>
    </div>
  <% end %>
  <% if next_post = @post.next %>
    <div class="level-right">
      <%= link_to "Siguiente →", next_post, :title => next_post.title, class: "button is-info is-rounded" %>
    </li>
  <% end %>
</nav>
<%= render @post %>
<%= render 'layouts/banners/b468x60' %>
<a name="comments"></a>
<section id="post-<%= @post.id %>-comments">
  <h4 class="fancy">Comentarios (<%= @post.comments.visible_by(current_user).count %>)</h4>
  <div class="comments-list">
    <% if @comments.count > 0 %>
      <%= render @comments %>
    <% else %>
      <p id="no-comments">
        No hay comentarios. ¡Podés ser el primero en comentar!
      </p>
    <% end %>
    <br id="new-comment" />
    <%= render 'comments/form', :post => @post, :comment => @post.comments.build %>
  </div>
  <div class="comments-paginator">
    <%= paginate @comments, :window => 2, :remote => true %>
  </div>
</section>
