= alert_message_for(user)

= form_for [:admin, user], :html => { :class => 'form-horizontal' } do |f|
  %legend

  .form-group
    = f.label :alias, :class => 'control-label'
    .controls
      = f.text_field :alias
  .form-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :disabled => true
  .form-group
    = f.label :karma, :class => 'control-label'
    .controls
      = f.text_field :karma
  .form-group
    = f.label :role, :class => 'control-label'
    .controls
      = f.select :role, User.roles

  .form-actions
    = f.submit ( user.new_record? ? 'Crear' : 'Guardar' ), :class => 'btn primary'
    = link_to 'Cancelar', admin_users_path, :class => 'btn'
