<% page_title("Listado de Usuarios") %>
<h2 class="title fancy is-4">Administración de Usuarios</h2>
<h3 class="title is-3"><%= html_page_title %></h3>
<% if @users.empty? %>
<p>No se han encontrado usuarios</p>
<% else %>
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
                <%= user.id %>
            </td>
            <td>
                <%= user.alias %>
            </td>
            <td class="actions">
                <%= link_to "Perfil", user, target: '_blank', class: "tag is-small" %>
                <%= link_to "Editar", edit_admin_user_path(user), class: "tag is-small is-success" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @users %>
<% end %>