<footer class="section footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h3 class="title is-4">Último Programa</h3>
        <% last_post = Post.published.lifo.first -%>
        <h4 class="title is-5"><%= link_to last_post.title, last_post %></h4>
      </div>
      <div class="column">
        <h3 class="title is-4">Más Venganzas</h3>
        <div class=content>
          <ul>
            <li>
              <%= link_to 'Programas Recientes', posts_path %>
              <%= link_to "(RSS)", posts_path(format: :rss) %>
            </li>
            <li>
              <%= link_to "Torrents", torrents_url %>
              <%= link_to "(RSS)", torrents_url(format: :rss) %>
            </li>
            <li>
              <%= link_to "Subir programas viejos", new_post_path %>
            </li>
            <li>
              <%= link_to "Últimas contribuciones", contributions_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 class="title is-4">Ayuda</h3>
        <div class=content>
          <ul>
            <li><%=link_to 'Acerca de este sitio', article_path('acerca-de-este-sitio') %></li>
            <li><%=link_to 'Preguntas Frecuentes', article_path('ayuda') %></li>
            <li><%=link_to 'Cómo funciona VdP', article_path('como-se-graba-el-programa') %></li>
            <li><%=link_to 'Estilos en Comentarios', article_path('markdown') %></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 class="title is-4">Sitios amigos</h3>
        <div class=content>
          <ul>
            <li><a href="https://papelmineral.com.ar/">Papel Mineral Argentina</a></li>
            <li><a href="https://czerny.me/">Czerny-Germer - Estudios para piano Vol. 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
