%footer#footer
  .container
    .row
      .span7.offset2.title
        Venganzas del Pasado
      .span4.offset1
        %ul
          %li
            = link_to 'Programas Recientes', posts_path
            = link_to "(RSS)", posts_path(:format => :rss)
          %li
            = link_to "Torrents", torrents_url
            = link_to "(RSS)", torrents_url(:format => :rss)
          %li
            = link_to "Usar Player #{flash_player? ? 'HTML5' : 'Flash'}", switch_player_path
          %li
            = link_to "Subir programas viejos", new_post_path
          %li
            = link_to "Últimas contribuciones", contributions_path
:javascript
  if(window.innerWidth >= 768){
    // FACEBOOK
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=128505023893262";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    // TWITTER
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  }