#footer
  .container
    .row
      .col-md-5
        - cache :footer_last_post, :expires_in => 15.minutes do
          %h3 Último Programa
          - last_post = Post.published.lifo.first
          %h4=link_to last_post.title, last_post
      .col-md-3
        %h3 Más Venganzas
        %ul
          %li
            = link_to 'Programas Recientes', posts_path
            = link_to "(RSS)", posts_path(:format => :rss)
          %li
            = link_to "Torrents", torrents_url
            = link_to "(RSS)", torrents_url(:format => :rss)
          %li
            = link_to "Subir programas viejos", new_post_path
          %li
            = link_to "Últimas contribuciones", contributions_path
      .col-md-2
        %h3 Ayuda
        %ul
          %li=link_to 'Acerca de este sitio', article_path('acerca-de-este-sitio')
          %li=link_to 'Preguntas Frecuentes', article_path('ayuda')
          %li=link_to 'Cómo funciona VdP', article_path('como-se-graba-el-programa')
          %li=link_to 'Estilos en Comentarios', article_path('markdown')
      .col-md-2
        %h3 Sitios amigos
        %ul
          %li=link_to 'Papel Mineral Argentina', 'https://papelmineral.com.ar/'
