<h3 class="title title-right is-4">Buscador</h3>
<div class="content">
<%= form_tag search_path(what: 'posts'), method: 'get' do %>
  <div class="field has-addons">
    <div class="control has-icons-right with100p">
      <%= text_field_tag :q, params[:q], placeholder: 'Buscar en el sitio', class: 'input' %>
    </div>
    <div class="control">
      <button class="button is-link"><%= icon "search" %></button>
    </div>
  </div>
<% end %>
</div>
<% cache [:archive, Post.last_updated], expires_in: 2.days do %>
  <%= render 'layouts/widgets/daily_archive' %>
  <%= render 'layouts/widgets/referrals' %>
  <%= render 'layouts/widgets/monthly_archive' %>
<% end %>
