#sidebar
  
  -if user_signed_in?
    .widget
      %h3.fancy= current_user.alias
      %ul
        = render 'layouts/menus/user_items'
      
  .widget
    %h3.fancy Buscador
    = form_tag search_path(what: 'posts'), method: 'get' do
      .input-append
        = text_field_tag :q, params[:q], placeholder: 'Buscar en el sitio', class: 'input-medium'
        = button_tag class: 'btn', type: 'button' do
          %i.icon-search
          
  .widget
    = render 'layouts/banners/b160x600'
  - cache [:archive, Post.last_updated], :expires_in => 2.days do
    .widget
      = render 'layouts/widgets/daily_archive'
    .widget
      = render 'layouts/widgets/monthly_archive'
      
  %h3.fancy Seguí a Venganzas del Pasado
  
  .widget
    - if Rails.env.production?
      = render 'layouts/widgets/facebook'
    - else
      = image_tag('http://placehold.it/220x440/')
      
  .widget
    - if Rails.env.production?
      = render 'layouts/widgets/twitter'
    - else
      = image_tag('http://placehold.it/220x440/')
