#sidebar
  .widget
    %h3.ribbon Buscador
    = form_tag search_path(what: 'posts'), method: 'get' do
      = text_field_tag :q, params[:q], placeholder: 'Ingresá el texto que buscás'
      = submit_tag "Buscar", class: 'btn default'
  -if user_signed_in?
    .widget
      %h3.ribbon= current_user.alias
      %ul
        = render 'layouts/menus/user_items'
  .widget
    = render 'layouts/banners/b160x600'
  - cache "posts_archive-#{Post.last.try(:id)}", :expires_in => 4.hours do
    .widget
      = render 'layouts/widgets/daily_archive'
    .widget
      = render 'layouts/widgets/monthly_archive'
  %h3.ribbon Seguí a Venganzas del Pasado
  .widget
    = render 'layouts/widgets/facebook'
  .widget
    = render 'layouts/widgets/twitter'
