#sidebar
  -if user_signed_in?
    .widget
      %ul
        = render 'layouts/menus/user_items'
  .widget
    = render 'layouts/banners/b160x600'
  - cache "posts_archive-#{Post.last.id}", :expires_in => 4.hours do
    .widget
      = render 'layouts/widgets/daily_archive'
    .widget
      = render 'layouts/widgets/monthly_archive'
  .widget
    = render 'layouts/widgets/facebook'
  .widget
    = render 'layouts/widgets/twitter'
