<% if params[:page].nil? %>
  <% the_title = "Torrents de La Venganza será Terrible de Alejandro Dolina" -%>
<% else %>
  <% the_title = "Torrents de La Venganza será Terrible de Alejandro Dolina<small>, Página #{params[:page]}</small>" -%>
<% end %>
<% page_title the_title -%>
<% meta_description strip_tags(the_title) -%>
<h2 class="title fancy is-4">Descarga de los MP3 usando torrent</h2>
<h2 class="title"><%=raw the_title %></h2>
<div class="content">
  Si estás usando el RSS de los torrents para agregarlo a tu cliente
  BitTorrent favorito y automatizar las descargas,
  <%= link_to "usá este link", torrents_url(:format => :rss) %>.
</div>
<div class="content">
  Si no tenés idea que es un torrent,
  <%= link_to "fijate acá", article_path('torrent'), :class => "btn btn-link" %>
</div>
<div class="content">
  <table class="table is-striped is-hoverable is-fullwidth">
    <tbody>
      <% @torrents.each do |torrent| %>
        <tr>
          <td>
            <%= link_to torrent.post.title, torrent.post, :target => '_blank' %>
          </td>
          <td>
            <%= link_to torrent.torrent_url do %>
              .torrent
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @torrents, window: 2 %>
