- if params[:page].nil?
  - page_title("Torrents de MP3 de La Venganza será Terrible")
- else
  - page_title("Torrents de MP3 de La Venganza será Terrible <small>Página #{params[:page]}</small>")

.ribbon
  Descargas P2P

%h2.title!= html_page_title

=render 'layouts/banners/b468x60'

.alert-message.block-message.warning
  %a{ class: "close", href: "#"}
    ×
  %p
    ¿Estás buscando el RSS de los torrents para agregarlo a tu cliente
    BitTorrent favorito y automatizar las descargas?
    .alert-actions
      =link_to "Ir al RSS", torrents_url(:format => :rss), class: "btn success small"
      =link_to "¿Qué es un Torrent?", '/articles/torrent', class: "btn small"

.torrents
  %table
    %tbody
      - @torrents.each do |torrent|
        %tr
          %td= torrent.post.title
          %td= link_to "Ver Post", torrent.post, :target => '_blank'
          %td= link_to "Descargar", torrent.torrent_url

= paginate @torrents, :window => 2
