<!DOCTYPE html>
<html>
  <head>
    <title>Venganzas del Pasado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= yield :extra_css -%>
  </head>
  <body>
    <%= render 'navbar' %>
    <%= render 'header' %>
    <section class="section main">
      <div class="container">
        <div class="columns is-variable is-0-mobile">
          <div class="column is-three-quarters">
            <% flash %>
            <%= yield %>
          </div>
          <div class="column">
            <%= render 'right_column' %>
          </div>
        </div>
      </div>
    </section>
    <%= javascript_importmap_tags %>
    <%= yield :extra_js %>
  </body>
</html>
