!!!
%html{ :lang => "es" }
 
  %head
    
    %title= yield :title
    
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8" }
    %meta{ :name => "description", :content => @meta_description || "El sitio donde podés escuchar y descargar los archivos de audio en MP3 del programa La Venganza será Terrible de Alejandro Dolina." }
   
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    
    = auto_discovery_link_tag :rss, posts_path(:format => :rss),
      { :title => "RSS feed de Venganzas del Pasado" }
    = auto_discovery_link_tag :rss, torrents_path(:format => :rss),
      { :title => "Torrent RSS de Venganzas del Pasado" }
    = favicon_link_tag '/favicon.ico'
    = tag "link", :rel => "image_src", :href => asset_path('vdp_logo.png')
    = csrf_meta_tag
    
    - if Rails.env.production?
      = render 'analytics'
      
  %body{ :class => body_class('is-admin') }

    = render 'topbar'
    = render 'header'
    .container.main
      .row
        #content.col-md-9
          = show_alerts
          = yield
        .col-md-3
          = render 'sidebar'
