<!DOCTYPE html>
<html>
  <head>
    <title>Venganzas del Pasado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'navbar' %>
    <%= render 'header' %>
    <section class="section main">
      <div class="container">
        <div class="columns is-variable is-0-mobile">
          <div class="column is-three-quarters">
            <% flash %>
            <%= yield %>
          </div>
          <div class="column">
            <%= render 'right_column' %>
          </div>
        </div>
      </div>
    </section>
    <%= javascript_pack_tag 'application' %>
    <%= yield :extra_js %>
  </body>
</html>
