!!!
%html
  %head
    %title Venganzas del Pasado
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tag
    %meta{ :charset => "utf-8"}
  %body
    .topbar
      .topbar-inner
        .container
          = link_to 'Venganzas del Pasado', '/', :class => 'brand'
          = render 'layouts/navigation_menu'
          
    #header.container
      .row
        .logo
          %h3 VdP
        .banner
          = render 'layouts/top_banner'
      .row
        %h4.span16.slogan
          Encontrá todos los archivos de audio en mp3 del programa de radio "La Venganza Será Terrible" de Alejandro Dolina.

    .container
      .row
        #menu.span3
          %h5
            Menú
          %ul
            %li= link_to "Portada", root_path
            %li= link_to "Último programa", "#"
            %li= link_to "Descargas", "#"
            %li= link_to "Acerca de este sitio", "#"
            %li= link_to "VdP en Facebook", "https://www.facebook.com/VenganzasDelPasado"

        #content.span9
          -if notice.present?
            .alert-message.success.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = notice

          -if alert.present?
            .alert-message.error.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = alert

          = yield

        #sidebar.span4
          %h5
            Sidebar
          %ul
            %li= link_to "Link 1", "#"
            %li= link_to "Link 2", "#"
            %li= link_to "Link 3", "#"
            %li= link_to "Link 4", "#"
          %h5
            Sidebar
          %ul
            %li= link_to "Link 1", "#"
            %li= link_to "Link 2", "#"
            %li= link_to "Link 3", "#"
            %li= link_to "Link 4", "#"

          .banner
            Banner 600x160

    %footer
      Pie de página
