- page_title(" - Venganzas del Pasado")
!!!
%html
  %head
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = auto_discovery_link_tag :rss, posts_path(:format => :rss),
      { :title => "RSS feed de Venganzas del Pasado" }
    = auto_discovery_link_tag :rss, torrents_path(:format => :rss),
      { :title => "Torrent RSS de Venganzas del Pasado" }
    = favicon_link_tag

    %title= yield :title
    = yield :head
    = csrf_meta_tag
    %meta{ :name => 'description', :content => 'MP3 de La Venganza Será Terrible de Alejandro Dolina para descargar.'}
    %meta{ :charset => "utf-8"}
  %body{ :class => body_class }
    .topbar
      .topbar-inner
        .container
          = link_to 'Venganzas del Pasado', '/', :class => 'brand'
          = render 'layouts/menus/navigation'

    = render 'header'

    .container.main
      .row
        #content.span9
          -if notice.present?
            .alert-message.success.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = notice
          -if alert.present?
            .alert-message.error.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = alert
          = yield

        .span4.offset1
          = render 'sidebar'

    = render 'footer'
