!!!
%html{ :lang => "es" }

  %head
    %meta{ :charset => 'utf-8'}
    %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge' }
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1' }

    %title= yield :title

    %meta{ :name => "description", :content => @meta_description || "El sitio donde podés escuchar online y descargar los archivos de audio en MP3 del programa La Venganza será Terrible de Alejandro Dolina." }

    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    = stylesheet_link_tag "application"

    = auto_discovery_link_tag :rss, posts_path(:format => :rss), { :title => "RSS feed de Venganzas del Pasado" }
    = auto_discovery_link_tag :rss, torrents_path(:format => :rss), { :title => "Torrent RSS de Venganzas del Pasado" }
    = favicon_link_tag '/favicon.ico'
    = tag "link", :rel => "image_src", :href => asset_path('vdp_logo.png')
    = tag "link", :rel => "publisher", :href => "https://plus.google.com/+venganzasdelpasado/posts"
    = csrf_meta_tag

    - if Rails.env.production?
      %script{ async: true, :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
      = render 'analytics'

  %body{ :class => body_class }

    = render 'topbar'
    = render 'header'
    = render 'subheader'
    .container.main
      .row
        #content.col-md-9.col-xs-12
          = show_alerts
          = yield
        .col-md-3.col-xs-12
          = render 'sidebar'
    = render 'footer'

    = javascript_include_tag "application"
