<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tag 'meta', name: 'description', content: @meta_description || 'El sitio donde podés escuchar online y descargar los archivos de audio en MP3 del programa La Venganza será Terrible de Alejandro Dolina.' %>
    <%= auto_discovery_link_tag :rss, posts_path(format: :rss), { title: 'RSS feed de Venganzas del Pasado' } %>
    <%= auto_discovery_link_tag :rss, torrents_path(format: :rss), { title: 'Torrent RSS de Venganzas del Pasado' } %>
    <%= tag 'link', rel: 'image_src', href: asset_path('vdp_logo.jpg') %>
    <%= tag 'meta', name: 'twitter:card',       content: 'summary' %>
    <%= tag 'meta', name: 'twitter:site',       content: '@venganzaspasado' %>
    <%= tag 'meta', name: 'twitter:creator',    content: '@jschwindt' %>
    <%= tag 'meta', property: 'og:url',         content: request.original_url %>
    <%= tag 'meta', property: 'og:title',       content: yield(:title) %>
    <%= tag 'meta', property: 'og:description', content: @meta_description || 'El sitio donde podés escuchar online y descargar los archivos de audio en MP3 del programa La Venganza será Terrible de Alejandro Dolina.' %>
    <%= tag 'meta', property: 'og:image',       content: asset_url('vdp_logo.jpg') %>
    <%= tag 'meta', property: 'og:type',        content: @meta_og_type || 'website' %>
    <%= tag 'meta', property: 'og:locale',      content: 'es_AR' %>
    <%= tag 'meta', property: 'fb:app_id',      content: '39744394508' %>
    <%= tag 'meta', property: 'fb:admins',      content: 'jschwindt' %>
    <%= favicon_link_tag '/favicon.ico' %>
    <link rel="preload" href="<%= asset_path('fas.woff2')%>" as="font" type="font/woff2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if Rails.env.production? %><%= render 'google_headers' %><% end %>
  </head>
  <body>
    <%= render 'navbar' %>
    <%= render 'header' %>
    <section class="section main">
      <div class="container">
        <div class="columns is-variable is-0-mobile">
          <div class="column is-three-quarters">
            <% flash %>
            <%= yield %>
          </div>
          <div class="column">
            <%= render 'right_column' %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'footer' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :extra_js %>
  </body>
</html>
