!!!
%html
  %head
    %title Venganzas del Pasado
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tag
    %meta{ :charset => "utf-8"}
  %body
    .topbar
      .topbar-inner
        .container-fluid
          = link_to 'VdP', '/', :class => 'brand'
          = render 'layouts/navigation_menu'

    .container-fluid
      .main
        -if notice.present?
          .alert-message.success.fade.in
            %a{ :class => "close", :href => "#" }
              &times;
            = notice

        -if alert.present?
          .alert-message.error.fade.in
            %a{ :class => "close", :href => "#" }
              &times;
            = alert

        = yield

      .sidebar-right
        .well
          %h5
            Sidebar
          %ul
            %li= link_to "Link 1", "#"
            %li= link_to "Link 2", "#"
            %li= link_to "Link 3", "#"
            %li= link_to "Link 4", "#"
          %h5
            Sidebar
          %ul
            %li= link_to "Link 1", "#"
            %li= link_to "Link 2", "#"
            %li= link_to "Link 3", "#"
            %li= link_to "Link 4", "#"

      .sidebar-banner
        Banner 600x160

    %footer
      Pie de página
