- page_title(" - Venganzas del Pasado")
!!!
%html
  %head
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %title= yield :title
    = yield :head
    = csrf_meta_tag
    %meta{ :charset => "utf-8"}
  %body
    .topbar
      .topbar-inner
        .container
          = link_to 'Venganzas del Pasado', '/', :class => 'brand'
          = render 'layouts/menus/navigation'

    = render 'header'

    .container.main
      .row
        #content.span10
          -if notice.present?
            .alert-message.success.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = notice
          -if alert.present?
            .alert-message.error.fade.in
              %a{ :class => "close", :href => "#" }
                &times;
              = alert
          = yield

        .span4
          = render 'sidebar'

    = render 'footer'
