!!!
%html
  %head
    %title Venganzas del Pasado
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tag
    %meta{ :charset => "utf-8"}
  %body
    .topbar
      .fill
        .container
          = link_to 'VdP', '/', :class => 'brand'
          = render 'layouts/navigation_menu'
    .container
      -if notice.present?
        .alert-message.success.fade.in
          %a{ :class => "close", :href => "#" }
            &times;
          = notice
            
      -if alert.present?
        .alert-message.error.fade.in
          %a{ :class => "close", :href => "#" }
            &times;
          = alert
            
      .row
        = yield
        
      %footer
        Pie de página
